In [1]:
import pandas as pd
import requests
import json

In [2]:
# Upload data relating to house prices, postcodes, latitude and longitude. Merge the two dataframes
pp = pd.read_csv("pp-2018.csv") 
del pp['Neighbourhood']

# remove NaNs
pp.dropna(inplace = True) 

# upload postcodes data
postcodes = pd.read_csv("postcodes.csv")

print(len(pp))

987983

In [3]:
# extract first letter form second half of post code
mylist = postcodes.Postcode.str.split(' ',1).str[1]       
firstletter = [x[0] for x in mylist]

Delete the secondary half of the postcode so that we can keep the bit of postcode which relates to the larger area

In [4]:
# Create new postcode variable with just one letter from second half

# dataframe of just post code split in half
df = pd.DataFrame(postcodes.Postcode.str.split(' ',1).tolist(), columns = ['Postcode','Postcode 2'])

# Format new postcode
pcarea = df['Postcode'] + ' ' +firstletter

Merge the new postcode data into the old postcode data

In [5]:
# Attach new postcode format
postcodes['Postcode'] = pcarea

# Postcode amendment complete
postcodes = postcodes.groupby('Postcode', as_index=False)['Latitude','Longitude'].mean()

In [6]:
# Clean pp postcodes

mylist2 = pp.Postcode.str.split(' ',1).str[1]
firstletter2 = [x[0] for x in mylist2]

df2 = pd.DataFrame(pp.Postcode.str.split(' ',1).tolist(), columns = ['Postcode','Postcode 2'])
pparea = df2['Postcode'] + ' ' +firstletter2

In [7]:
# Update newly formatted postcodes to original dataframe
pp = pp.reset_index()
pp['Postcode'] = pparea

In [8]:
pp

,index,Price,Postcode,Town,City,County
0,0,75000,DL13 4,BISHOP AUCKLAND,COUNTY DURHAM,COUNTY DURHAM
1,1,115000,DL17 9,FERRYHILL,COUNTY DURHAM,COUNTY DURHAM
2,2,24000,SR7 9,SEAHAM,COUNTY DURHAM,COUNTY DURHAM
3,3,56000,DL5 5,NEWTON AYCLIFFE,COUNTY DURHAM,COUNTY DURHAM
4,4,220000,DL16 7,SPENNYMOOR,COUNTY DURHAM,COUNTY DURHAM
5,5,58000,DL14 6,BISHOP AUCKLAND,COUNTY DURHAM,COUNTY DURHAM
6,6,115000,DH8 7,CONSETT,COUNTY DURHAM,COUNTY DURHAM
7,7,82000,DH8 8,CONSETT,COUNTY DURHAM,COUNTY DURHAM
8,8,93000,DH6 5,DURHAM,COUNTY DURHAM,COUNTY DURHAM
9,9,42500,DH9 7,STANLEY,COUNTY DURHAM,COUNTY DURHAM
10,10,172000,DH7 6,DURHAM,COUNTY DURHAM,COUNTY DURHAM
11,11,105000,DL5 7,NEWTON AYCLIFFE,COUNTY DURHAM,COUNTY DURHAM
12,12,112000,DL3 7,DARLINGTON,DARLINGTON,DARLINGTON
13,13,127000,DH6 3,DURHAM,COUNTY DURHAM,COUNTY DURHAM
14,14,65000,SR7 9,SEAHAM,COUNTY DURHAM,COUNTY DURHAM
15,15,202500,DL14 7,BISHOP AUCKLAND,COUNTY DURHAM,COUNTY DURHAM
16,16,80000,DH6 4,DURHAM,COUNTY DURHAM,COUNTY DURHAM
17,17,165000,DL2 2,DARLINGTON,DARLINGTON,DARLINGTON
18,18,144000,DH6 3,DURHAM,COUNTY DURHAM,COUNTY DURHAM
19,19,250000,DL12 9,BARNARD CASTLE,COUNTY DURHAM,COUNTY DURHAM
20,20,117500,DH9 6,STANLEY,COUNTY DURHAM,COUNTY DURHAM
21,21,265000,DL5 4,NEWTON AYCLIFFE,COUNTY DURHAM,COUNTY DURHAM
22,22,53000,DH9 6,STANLEY,COUNTY DURHAM,COUNTY DURHAM
23,23,37500,DL14 7,BISHOP AUCKLAND,COUNTY DURHAM,COUNTY DURHAM
24,24,31000,DL17 8,FERRYHILL,COUNTY DURHAM,COUNTY DURHAM
25,25,50000,DL14 9,BISHOP AUCKLAND,COUNTY DURHAM,COUNTY DURHAM
26,26,240000,DL3 8,DARLINGTON,DARLINGTON,DARLINGTON
27,27,230000,DL15 8,CROOK,COUNTY DURHAM,COUNTY DURHAM
28,28,210000,DH1 5,DURHAM,COUNTY DURHAM,COUNTY DURHAM
29,29,83500,DH1 5,DURHAM,COUNTY DURHAM,COUNTY DURHAM
...,...,...,...,...,...,...
987953,993641,285000,RG18 3,THATCHAM,WEST BERKSHIRE,WEST BERKSHIRE
987954,993642,325000,RG40 4,WOKINGHAM,WOKINGHAM,WOKINGHAM
987955,993643,500000,SL4 5,WINDSOR,WINDSOR AND MAIDENHEAD,WINDSOR AND MAIDENHEAD
987956,993644,275000,RG18 3,THATCHAM,WEST BERKSHIRE,WEST BERKSHIRE
987957,993645,452500,RG7 5,READING,WEST BERKSHIRE,WEST BERKSHIRE
987958,993646,490000,SL6 2,MAIDENHEAD,WINDSOR AND MAIDENHEAD,WINDSOR AND MAIDENHEAD
987959,993647,490000,RG6 1,READING,WOKINGHAM,WOKINGHAM
987960,993648,1675000,RG20 8,NEWBURY,WEST BERKSHIRE,WEST BERKSHIRE
987961,993649,765000,RG40 3,WOKINGHAM,WOKINGHAM,WOKINGHAM
987962,993650,412500,SL1 5,SLOUGH,SLOUGH,SLOUGH
987963,993651,450000,RG40 4,WOKINGHAM,WOKINGHAM,WOKINGHAM
987964,993652,365000,RG40 3,WOKINGHAM,WOKINGHAM,WOKINGHAM
987965,993653,286000,RG30 1,READING,READING,READING
987966,993654,400000,SL6 3,MAIDENHEAD,WINDSOR AND MAIDENHEAD,WINDSOR AND MAIDENHEAD
987967,993655,649950,SL5 7,ASCOT,WINDSOR AND MAIDENHEAD,WINDSOR AND MAIDENHEAD
987968,993656,540000,RG14 1,NEWBURY,WEST BERKSHIRE,WEST BERKSHIRE
987969,993657,409000,RG41 4,WOKINGHAM,WOKINGHAM,WOKINGHAM
987970,993658,565000,RG10 0,READING,WOKINGHAM,WOKINGHAM
987971,993659,299950,SL3 9,SLOUGH,SLOUGH,SLOUGH
987972,993660,499950,SL6 4,MAIDENHEAD,WINDSOR AND MAIDENHEAD,WINDSOR AND MAIDENHEAD
987973,993661,680000,RG7 6,READING,WEST BERKSHIRE,WEST BERKSHIRE
987974,993662,370000,RG30 2,READING,READING,READING
987975,993663,340000,RG1 5,READING,READING,READING
987976,993664,468000,SL4 2,WINDSOR,WINDSOR AND MAIDENHEAD,WINDSOR AND MAIDENHEAD
987977,993665,362500,RG31 6,READING,WEST BERKSHIRE,WEST BERKSHIRE
987978,993666,250000,RG30 1,READING,READING,READING
987979,993667,282000,RG12 7,BRACKNELL,BRACKNELL FOREST,BRACKNELL FOREST
987980,993668,255000,RG2 7,READING,READING,READING
987981,993669,585000,SL5 8,ASCOT,WINDSOR AND MAIDENHEAD,WINDSOR AND MAIDENHEAD
987982,993670,277000,RG17 0,HUNGERFORD,WEST BERKSHIRE,WEST BERKSHIRE

In [9]:
# Calculate mean of houses based upon postal area
pp = pp.groupby('Postcode', as_index=False)['Price'].mean()

In [10]:
missingpostcodes = []

for i in list(pp['Postcode']):
        if i not in list(postcodes['Postcode']):
            missingpostcodes.append(i)

In [11]:
len(missingpostcodes)

2657

In [12]:
postcodes['Postcode'][350:400]

350     HR8 9
351     HR9 5
352     HR9 6
353     HR9 7
354     HR9 9
355     HS1 2
356     HS1 9
357     HS2 0
358     HS2 9
359     HS3 3
360     HS4 3
361     HS5 3
362     HS6 5
363     HS7 5
364     HS8 5
365     HS9 5
366     HU1 1
367     HU1 2
368     HU1 3
369     HU1 4
370    HU10 6
371    HU10 7
372    HU10 9
373    HU11 4
374    HU11 5
375    HU12 0
376    HU12 8
377    HU12 9
378    HU13 0
379    HU13 9
380    HU14 3
381    HU14 9
382    HU15 1
383    HU15 2
384    HU16 4
385    HU16 5
386    HU17 0
387    HU17 5
388    HU17 6
389    HU17 7
390    HU17 8
391    HU17 9
392    HU18 1
393    HU19 2
394     HU2 0
395     HU2 8
396     HU2 9
397    HU20 3
398     HU3 1
399     HU3 2
Name: Postcode, dtype: object

MERGE DF

In [13]:
ppdf = pd.merge(postcodes, pp, on="Postcode")

In [14]:
ppdf.head()

  Postcode   Latitude  Longitude          Price
0    BB1 3  53.750170  -2.446080  340467.058824
1    BB1 4  53.768246  -2.419507  114447.796992
2    BB1 5  53.758142  -2.466944  107938.963415
3    BB1 6  53.755274  -2.475829  109825.000000
4    BB1 7  53.752067  -2.483611   97690.476190

Sign in to foursquare api

In [15]:
CLIENT_ID = 'PICYXB14DW25045HX5DL4ZF2GSM1YD3EKATZR5IIJZ1TBAJ3' # your Foursquare ID
CLIENT_SECRET = 'G3SZG1QTMSNCXXIB3ZLMHB2JFIEJNEJP2DN1WIKZA4TUEZOY' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: PICYXB14DW25045HX5DL4ZF2GSM1YD3EKATZR5IIJZ1TBAJ3
CLIENT_SECRET:G3SZG1QTMSNCXXIB3ZLMHB2JFIEJNEJP2DN1WIKZA4TUEZOY

In [16]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    count = 0
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
        
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [85]:
allvenues = pd.DataFrame()

# only run from here

In [100]:
# only change the first number to the current i value after it crashes

a = list(range(3679, 5603, 13))

In [101]:
LIMIT = 100

for i in a:
    ukvenues = getNearbyVenues(names=ppdf['Postcode'][i:i+13],
                               latitudes=ppdf['Latitude'][i:i+13],
                               longitudes=ppdf['Longitude'][i:i+13])
    allvenues = allvenues.append(ukvenues)

In [106]:
allvenues.head()

,Neighbourhood,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,BB1 3,53.750170,-2.446080,Domino's Pizza,53.750053,-2.446460,Pizza Place
1,BB1 3,53.750170,-2.446080,Enterprise Rent A Car,53.751636,-2.446283,Rental Car Location
2,BB1 3,53.750170,-2.446080,Red Lion,53.753909,-2.446123,Brewery
3,BB1 3,53.750170,-2.446080,McDonald's,53.753986,-2.445644,Fast Food Restaurant
4,BB1 4,53.768246,-2.419507,Co-op Food,53.768118,-2.416177,Grocery Store

In [109]:
allvenues

,Neighbourhood,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,BB1 3,53.750170,-2.446080,Domino's Pizza,53.750053,-2.446460,Pizza Place
1,BB1 3,53.750170,-2.446080,Enterprise Rent A Car,53.751636,-2.446283,Rental Car Location
2,BB1 3,53.750170,-2.446080,Red Lion,53.753909,-2.446123,Brewery
3,BB1 3,53.750170,-2.446080,McDonald's,53.753986,-2.445644,Fast Food Restaurant
4,BB1 4,53.768246,-2.419507,Co-op Food,53.768118,-2.416177,Grocery Store
5,BB1 4,53.768246,-2.419507,Rishton Cricket Club,53.767128,-2.421294,Cricket Ground
6,BB1 4,53.768246,-2.419507,Rishton Arms,53.764466,-2.420077,Pub
7,BB1 4,53.768246,-2.419507,Rishton Railway Station (RIS),53.763854,-2.420253,Train Station
8,BB1 5,53.758142,-2.466944,Barnes Bakery,53.759189,-2.465897,Bakery
9,BB1 5,53.758142,-2.466944,Kebabish,53.757931,-2.471610,Indian Restaurant
10,BB1 5,53.758142,-2.466944,Lancshomeimprovements,53.756090,-2.473178,Accessories Store
11,BB1 6,53.755274,-2.475829,Topshop,53.752397,-2.479033,Women's Store
12,BB1 6,53.755274,-2.475829,Blackburn Town Centre,53.757535,-2.478381,Outdoors & Recreation
13,BB1 6,53.755274,-2.475829,Whalley Range Bazaar,53.757541,-2.478378,Asian Restaurant
14,BB1 6,53.755274,-2.475829,Argos,53.755946,-2.481977,Warehouse Store
15,BB1 6,53.755274,-2.475829,Kebabish,53.757931,-2.471610,Indian Restaurant
16,BB1 7,53.752067,-2.483611,King George's Hall,53.748925,-2.485906,Concert Hall
17,BB1 7,53.752067,-2.483611,Primark,53.748508,-2.481408,Clothing Store
18,BB1 7,53.752067,-2.483611,The Mall,53.748617,-2.482161,Shopping Mall
19,BB1 7,53.752067,-2.483611,Debenhams,53.747988,-2.483294,Department Store
20,BB1 7,53.752067,-2.483611,Boots,53.749540,-2.481943,Pharmacy
21,BB1 7,53.752067,-2.483611,Subway,53.748927,-2.485625,Sandwich Place
22,BB1 7,53.752067,-2.483611,Next,53.748976,-2.482888,Clothing Store
23,BB1 7,53.752067,-2.483611,Subway,53.751610,-2.490044,Sandwich Place
24,BB1 7,53.752067,-2.483611,Costa Coffee,53.748621,-2.482090,Coffee Shop
25,BB1 7,53.752067,-2.483611,H&M,53.748179,-2.482081,Clothing Store
26,BB1 7,53.752067,-2.483611,WHSmith,53.750426,-2.484403,Bookstore
27,BB1 7,53.752067,-2.483611,Marks & Spencer,53.749150,-2.484178,Clothing Store
28,BB1 7,53.752067,-2.483611,Forbes Solicitors,53.751770,-2.487166,Lawyer
29,BB1 7,53.752067,-2.483611,McDonald's,53.748369,-2.483791,Fast Food Restaurant
...,...,...,...,...,...,...,...
27,YO61 3,54.123371,-1.197317,The Angel,54.122270,-1.191748,Gastropub
28,YO61 3,54.123371,-1.197317,Galtres Centre,54.120995,-1.190859,Movie Theater
0,YO62 5,54.247998,-1.064611,Hunters of Helmsley,54.246011,-1.061429,Gourmet Shop
1,YO62 5,54.247998,-1.064611,Helmsley Castle,54.244466,-1.063914,Historic Site
2,YO62 5,54.247998,-1.064611,The Feathers Hotel,54.246171,-1.060804,Hotel
3,YO62 5,54.247998,-1.064611,Co-op Food,54.246334,-1.060814,Grocery Store
4,YO62 5,54.247998,-1.064611,The Black Swan Hotel,54.246613,-1.061486,Hotel
5,YO62 5,54.247998,-1.064611,Feversham Arms And Verbena Spa,54.247278,-1.063210,Hotel
6,YO62 5,54.247998,-1.064611,The Royal Oak,54.246135,-1.061285,Pub
7,YO62 5,54.247998,-1.064611,The Cut-Price Bookstore,54.246071,-1.061347,Bookstore
8,YO62 5,54.247998,-1.064611,Market Place,54.246180,-1.061115,Plaza
9,YO62 5,54.247998,-1.064611,Porters,54.245720,-1.060460,Coffee Shop
10,YO7 1,54.231558,-1.342069,The Three Tuns (Wetherspoon),54.232602,-1.341405,Pub
11,YO7 1,54.231558,-1.342069,Market Place,54.232731,-1.342897,Farmers Market
12,YO7 1,54.231558,-1.342069,Yorks Tea Room,54.232696,-1.342867,Tea Room
13,YO7 1,54.231558,-1.342069,Caffè Nero,54.232397,-1.342427,Coffee Shop
14,YO7 1,54.231558,-1.342069,Co-op Food,54.232488,-1.342451,Grocery Store
15,YO7 1,54.231558,-1.342069,The World of James Herriot,54.233330,-1.344628,History Museum
16,YO7 1,54.231558,-1.342069,Lidl,54.231382,-1.347886,Supermarket
17,YO7 1,54.231558,-1.342069,The Golden Fleece Hotel,54.232589,-1.342259,Hotel
18,YO7 1,54.231558,-1.342069,WHSmith,54.232314,-1.342885,Bookstore
19,YO7 1,54.231558,-1.342069,Tesco,54.231106,-1.347465,Supermarket
20,YO8 3,53.810103,-1.104864,Black Swan Wistow,53.813524,-1.101465,Gastropub
21,YO8 4,53.784062,-1.076369,Costa Coffee,53.783450,-1.070071,Coffee Shop
22,YO8 4,53.784062,-1.076369,Wilko,53.784762,-1.070456,Furniture / Home Store
23,YO8 4,53.784062,-1.076369,The Giant Bellflower (Wetherspoon),53.783400,-1.072053,Pub
24,YO8 4,53.784062,-1.076369,Subway,53.783914,-1.071554,Sandwich Place
25,YO8 4,53.784062,-1.076369,Co-op Food,53.787580,-1.075924,Grocery Store
26,YO8 4,53.784062,-1.076369,Grainger Games,53.783568,-1.069929,Video Game Store
27,YO8 9,53.770635,-1.111142,Brayton Barff,53.768755,-1.115841,Trail

In [111]:
#import pickle
#pickle_out = open("allvenues.pickle", "wb")
#pickle.dump(allvenues, pickle_out)
#pickle_out.close()